version: '2'
services:
#DNS
 dns:
    image: lancachenet/lancache-dns:latest
    env_file: .env
    networks:
      net:
        ipv4_address: ${DNS_BIND_IP}
    ports:
      - ${DNS_BIND_IP}:53:53/udp
## Folgende alle Caches
## STEAMCACHE
  steamcache:
    image: lancachenet/monolithic:latest
    env_file: .env
    networks:
      net:
        ipv4_address: ${STEAMCACHE_IP}
    ports:
      - ${STEAMCACHE_IP}:80:80/tcp
      - ${STEAMCACHE_IP}:443:443/tcp
    volumes:
      - ${CACHE_ROOT}/steam/cache:/data/cache
      - ${CACHE_ROOT}/steam/logs:/data/logs
## ORIGINCACHE
   origincache:
    image: lancachenet/monolithic:latest
    env_file: .env
    networks:
      net:
        ipv4_address: ${ORIGINCACHE_IP}
    ports:
      - ${ORIGINCACHE_IP}:80:80/tcp
      - ${ORIGINCACHE_IP}:443:443/tcp
    volumes:
      - ${CACHE_ROOT}/origin/cache:/data/cache
      - ${CACHE_ROOT}/origin/logs:/data/logs
  ## BLIZZARDCACHE
  blizzardcache:
    image: lancachenet/monolithic:latest
    env_file: .env
    networks:
      net:
        ipv4_address: ${BLIZZARDCACHE_IP}
    ports:
      - ${BLIZZARDCACHE_IP}:80:80/tcp
      - ${BLIZZARDCACHE_IP}:443:443/tcp
    volumes:
      - ${CACHE_ROOT}/blizzard/cache:/data/cache
      - ${CACHE_ROOT}/blizzard/logs:/data/logs
  ## EPICGAMESCACHE
  epiccache:
    image: lancachenet/monolithic:latest
    env_file: .env
    networks:
      net:
        ipv4_address: ${EPICGAMESCACHEE_IP}
    ports:
      - ${EPICGAMESCACHE_IP}:80:80/tcp
      - ${EPICGAMESCACHE_IP}:443:443/tcp
    volumes:
      - ${CACHE_ROOT}/epic/cache:/data/cache
      - ${CACHE_ROOT}/epic/logs:/data/logs
  ## ROCKSTARCACHE
  rockstarcache:
    image: lancachenet/monolithic:latest
    env_file: .env
    networks:
      net:
        ipv4_address: ${ROCKSTARCACHE_IP}
    ports:
      - ${ROCKSTARCACHE_IP}:80:80/tcp
      - ${ROCKSTARCACHE_IP}:443:443/tcp
    volumes:
      - ${CACHE_ROOT}/rockstar/cache:/data/cache
      - ${CACHE_ROOT}/rockstarsteam/logs:/data/logs
## Proxys now...
## Steam Proxy
  steamproxy:
    image: darthblair/sniproxy
    env_file: .env
    network_mode: service:steamcache
## Origin Proxy
  originproxy:
    image: darthblair/sniproxy
    env_file: .env
    network_mode: service:origincache
## Blizzard Proxy
  blizzardroxy:
    image: darthblair/sniproxy
    env_file: .env
    network_mode: service:blizzardcache
## Epic Proxy
  epicproxy:
    image: darthblair/sniproxy
    env_file: .env
    network_mode: service:epiccache
## Rockstar Proxy
  rockstarproxy:
    image: darthblair/sniproxy
    env_file: .env
    network_mode: service:rockstarcache
## Network COnfiguration
## IMPORTANT !!!
## Change parent: <IF>
## Change subnet and gateway
networks:
  net:
#    env_file: .env
    driver: macvlan
    driver_opts:
      parent: enp3s0 
    ipam:
      config:
           - subnet: 192.168.23.0/24
             gateway: 192.168.23.1
