version: '3'
services:
  dns:
    image: lancachenet/lancache-dns:latest
    env_file: .env
    networks:
      net:
        ipv4_address: ${DNS_BIND_IP}
    ports:
      - ${DNS_BIND_IP}:53:53/udp
  steamcache:
    image: lancachenet/monolithic:latest
    env_file: .env
    networks:
      net:
        ipv4_address: ${STEAMCACHE_IP}
    ports:
      - ${STEAMCACHE_IP}:80:80/tcp
      - ${STEAMCACHE_IP}:443:443/tcp
    volumes:
      - ${CACHE_ROOT}/steam/cache:/data/cache
      - ${CACHE_ROOT}/steam/logs:/data/logs
  steamproxy:
    image: darthblair/sniproxy
    env_file: .env
    network_mode: service:steamcache
  originproxy:
    image: lancachenet/sniproxy:latest
    env_file: .env
    networks:
      net:
        ipv4_address: ${ORIGINCACHE_IP}
    ports:
      - ${ORIGINCACHE_IP}:443:443/tcp
  origincache:
    image: lancachenet/monolithic:latest
    env_file: .env
    networks:
      net:
        ipv4_address: ${ORIGINCACHE_IP}
    ports:
      - ${ORIGINCACHE_IP}:80:80/tcp
    volumes:
      - ${CACHE_ROOT}/origin/cache:/data/cache
      - ${CACHE_ROOT}/origin/logs:/data/logs

networks:
  net:
#    env_file: .env
    driver: macvlan
    driver_opts:
      parent: enp3s0 
      #${PARENT_IF}
     #    com.docker.network.enable_ipv6: "true"
    ipam:
      config:
           - subnet: 192.168.23.0/24
           gateway: 192.168.23.1
